/* You can add global styles to this file, and also import other style files */
.form-container {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 300px;
  border-radius: 5px;
}
input, select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}